@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

@font-face {
  src: url("../assets/fonts/Roobert-Medium.woff2") format("woff2");
  font-family: "Billy Sans";
  font-style: normal;
  font-weight: 500;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
